

/* Burada bir problem var  */
:root {
    --bodyBg:#f2f6ff;
    --color-primary:#171A3C;
    --cardW:440px;
    --size-sm:10px;
    --size-md:16px;
    --size-lg:20px;
    --size-xl:24px;
    --size-xl:32px;
}
